<ng-container>
  <ion-content>
    <div id="container">
      <ion-img src="assets/pictures/logo.gif"></ion-img>
      <br>
      <form (ngSubmit)="submitLoginForm()" [formGroup]="loginForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating"
                       [color]="buttonColorService.choseColorForField('username', loginForm, true)">
              Benutzername
            </ion-label>
            <ion-input autofocus formControlName="username" id="username" maxlength="10" name="username"
                       required></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating"
                       [color]="buttonColorService.choseColorForField('password', loginForm, true)">
              Passwort
            </ion-label>
            <ion-input formControlName="password" id="password" maxlength="65" name="password"
                       required type="password"></ion-input>
          </ion-item>
          <br>
          <ion-button [disabled]="loginForm.invalid"
                      [color]="buttonColorService.choseColorForButton(loginForm)" expand="block" type="submit">
            Einloggen
          </ion-button>
        </ion-list>
      </form>
    </div>
  </ion-content>
</ng-container>
