<div class="drag-drop ion-align-items-center ion-text-center"
     (dragover)="onDragEvent($event)"
     (dragenter)="onDragEvent($event)"
     (dragleave)="onDragEvent($event)"
     (drop)="onDrop($event)">
  <ion-text>Datei via Drag and Drop hochladen oder</ion-text>
  <br>
  <ion-button (click)="file_input.click()">Datei auswählen</ion-button>
  <br>
  <span *ngIf="fileObject?.name !== ''">
    <ion-text>{{fileObject?.name}}</ion-text>
    <ion-icon color="danger" (click)="removeSelectedFile()" name="close"></ion-icon>
  </span>
  <input style="display: none" type="file" (change)="onFileSelected($event)" #file_input>
</div>
