<ion-grid>
  <ion-row>
    <ion-col class="ion-no-padding">
      <h4 class="ion-no-margin ion-padding-horizontal ion-float-left">{{runModel?.username}}</h4>
      <h6 class="ion-no-margin ion-padding-horizontal ion-float-left date">{{runModel?.date}}</h6>
      <ion-icon class="ion-float-left" name="code-download" (click)="saveFile()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-card color="success" class="ion-text-center ion-no-margin ion-margin-horizontal">
        <ion-text><h6 class="ion-no-margin">{{runModel?.runtime}} ms</h6></ion-text>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

