<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Benutzer Einstellungen</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="changeCurrentUserPasswordRequest()" [formGroup]="changeCurrentUserPassword">
          <ion-list class="settings-menu">
            <ion-item (click)="changeValue('changePassword')">
              <ion-title>Passwort ändern</ion-title>
            </ion-item>
            <ng-container *ngIf="settings==='changePassword'">
              <ion-item>
                <ion-label position="floating">neues Passwort</ion-label>
                <ion-input [type]="passwordType" formControlName="password"></ion-input>
                <ion-icon (click)="passwordShowHide()" [name]="passwordIcon" slot="end"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Passwort bestätigen</ion-label>
                <ion-input formControlName="passwordConfirm" type="password"></ion-input>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfPasswordsAreNotTheSame('password', 'passwordConfirm', changeCurrentUserPassword)"
                color="danger">
                <ion-text>Passwörte nicht gleich</ion-text>
              </ion-item>
              <ion-button
                [color]="buttonColorService.choseColorForButton(changeCurrentUserPassword)"
                [disabled]="changeCurrentUserPassword.invalid"
                expand="block" type="submit">speichern
              </ion-button>
            </ng-container>
          </ion-list>
        </form>
      </ion-col>
      <ion-col>
        <form (ngSubmit)="changeCurrentUserCredentials()" [formGroup]="changeCurrentUserData">
          <ion-list class="settings-menu">
            <ion-item (click)="changeValue('changeCurrentUserData')">
              <ion-title>Benutzer ändern</ion-title>
            </ion-item>
            <ng-container *ngIf="settings==='changeCurrentUserData'">
              <ion-item>
                <ion-label position="floating">Vorname</ion-label>
                <ion-input formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nachname</ion-label>
                <ion-input formControlName="surname"></ion-input>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('name', changeCurrentUserData)"
                color="danger">
                <ion-text>Vorname muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('surname', changeCurrentUserData)"
                color="danger">
                <ion-text>Nachname muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-button
                [color]="buttonColorService.choseColorForButton(changeCurrentUserData)"
                [disabled]="changeCurrentUserData.invalid"
                expand="block" type="submit">
                speichern
              </ion-button>
            </ng-container>
          </ion-list>
        </form>
      </ion-col>
      <ion-col>
        <ion-list class="settings-menu">
          <ion-item>
            <ion-title (click)="changeValue('deleteUser')">Benutzer löschen</ion-title>
          </ion-item>
          <ng-container *ngIf="settings==='deleteUser'">
            <ion-button (click)="presentAlertMultipleButtons()" color="danger" expand="block">löschen
            </ion-button>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentUser.role === 'Lehrmeister'">
      <ion-col>
        <h2>Administrative Einstellungen</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="currentUser.role === 'Lehrmeister'">
        <form (ngSubmit)="changeUserPasswordRequest()" [formGroup]="changeUserPassword">
          <ion-list class="settings-menu">
            <ion-item (click)="changeValue('changeUserPassword')">
              <ion-title>Passwort ändern</ion-title>
            </ion-item>
            <ng-container *ngIf="settings==='changeUserPassword'">
              <ion-item>
                <ion-label>Benutzer</ion-label>
                <ion-select formControlName="username">
                  <ion-select-option *ngFor="let name of names"
                                     [value]="name">{{name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">neues Passwort</ion-label>
                <ion-input [type]="passwordType" formControlName="password"></ion-input>
                <ion-icon (click)="passwordShowHide()" [name]="passwordIcon" slot="end"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Passwort bestätigen</ion-label>
                <ion-input formControlName="passwordConfirm" type="password"></ion-input>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfPasswordsAreNotTheSame('password', 'passwordConfirm', changeUserPassword)"
                color="danger">
                <ion-text>Passwörte nicht gleich</ion-text>
              </ion-item>
              <ion-button
                [color]="buttonColorService.choseColorForButton(changeUserPassword)"
                [disabled]="changeUserPassword.invalid"
                expand="block" type="submit">speichern
              </ion-button>
            </ng-container>
          </ion-list>
        </form>
      </ion-col>
      <ion-col *ngIf="currentUser.role === 'Lehrmeister'">
        <form (ngSubmit)="createUserRequest()" [formGroup]="createNewUser">
          <ion-list class="settings-menu">
            <ion-item (click)="changeValue('createUser')">
              <ion-title>Benutzer erstellen</ion-title>
            </ion-item>
            <ng-container *ngIf="settings==='createUser'">
              <ion-item>
                <ion-label position="floating">Vorname</ion-label>
                <ion-input formControlName="vorname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nachname</ion-label>
                <ion-input formControlName="nachname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Benutzername</ion-label>
                <ion-input formControlName="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Status</ion-label>
                <ion-select cancelText="abbrechen" formControlName="status" multiple="false"
                            okText="speichern">
                  <ion-select-option value="Lehrmeister">Lehrmeister</ion-select-option>
                  <ion-select-option value="Lehrling">Lehrling</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Passwort</ion-label>
                <ion-input [type]="passwordType" formControlName="password"></ion-input>
                <ion-icon (click)="passwordShowHide()" [name]="passwordIcon" slot="end"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Passwort bestätigen</ion-label>
                <ion-input formControlName="passwordConfirm" type="password"></ion-input>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('vorname', createNewUser)"
                color="danger">
                <ion-text>Vorname muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('nachname', createNewUser)"
                color="danger">
                <ion-text>Nachname muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('username', createNewUser)"
                color="danger">
                <ion-text>Benutzername muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfPasswordsAreNotTheSame('password', 'passwordConfirm', createNewUser)"
                color="danger">
                <ion-text>Passworte nicht gleich</ion-text>
              </ion-item>
              <ion-button
                [color]="buttonColorService.choseColorForButton(createNewUser)"
                [disabled]="createNewUser.invalid"
                expand="block" type="submit">erstellen
              </ion-button>
            </ng-container>
          </ion-list>
        </form>
      </ion-col>
      <ion-col *ngIf="currentUser.role === 'Lehrmeister'">
        <form (ngSubmit)="changeCredentialsRequest()" [formGroup]="changeUserValues">
          <ion-list class="settings-menu">
            <ion-item (click)="changeValue('changeUserValues')">
              <ion-title>Benutzer Daten Ändern</ion-title>
            </ion-item>
            <ng-container *ngIf="settings==='changeUserValues'">
              <ion-item>
                <ion-label>Benutzer</ion-label>
                <ion-select formControlName="selectedId" (ionChange)="changeUserSelection()">
                  <ion-select-option *ngFor="let userInfo of usersInfo; let i = index"
                                     [value]="i">{{userInfo.username}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Vorname</ion-label>
                <ion-input formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nachname</ion-label>
                <ion-input formControlName="surname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Benutzername</ion-label>
                <ion-input formControlName="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Status</ion-label>
                <ion-select cancelText="abbrechen" formControlName="status" multiple="false"
                            okText="speichern">
                  <ion-select-option value="Lehrmeister">Lehrmeister</ion-select-option>
                  <ion-select-option value="Lehrling">Lehrling</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('name', changeUserValues)"
                color="danger">
                <ion-text>Vorname muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('surname', changeUserValues)"
                color="danger">
                <ion-text>Nachname muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-item
                *ngIf="validatorsService.checkIfControlHasErrorAndIsTouched('username', changeUserValues)"
                color="danger">
                <ion-text>Benutzername muss nur aus Buchstaben sein</ion-text>
              </ion-item>
              <ion-button
                [color]="buttonColorService.choseColorForButton(changeUserValues)"
                [disabled]="changeUserValues.invalid"
                expand="block" type="submit">speichern
              </ion-button>
            </ng-container>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
