<ng-container>
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar placeholder="Suchen" (ionCancel)="clearInput()" (ionChange)="search($event)"></ion-searchbar>
  <ion-item color="transparent" lines="none">
    <ion-checkbox class="ion-no-margin" [(ngModel)]="showOnlySMARTExercises"></ion-checkbox>
    <ion-label class="ion-margin-horizontal">Nur SMART-Aufgaben anzeigen</ion-label>
  </ion-item>
  <ion-content>
    <ion-grid *ngIf="getSortedExercises().length !== 0; else no_content">
      <ion-row>
        <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="6" size-xs="12" offset="0"
                 *ngFor="let exercise of getSortedExercises() | search: searchInput : showOnlySMARTExercises ">
          <app-card [exercise]="exercise"></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab *ngIf="authService.isUserLehrmeister()" horizontal="end" slot="fixed" vertical="bottom">
      <ion-fab-button (click)="createExercise()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ng-template #no_content>
      <ion-text class="ion-text-center">
        <h1>Keine Aufgaben verfügbar</h1>
      </ion-text>
    </ng-template>
  </ion-content>
</ng-container>
