<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Aufgaben Ansicht</h1>
    </ion-title>
    <ion-icon class="ion-margin-horizontal close" (click)="modalCtrl.dismiss()" name="close-circle-outline"
              slot="end">
    </ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row *ngIf="exercise.textFile !== null">
      <ion-col>
        <ion-segment [(ngModel)]="viewSelection" mode="ios" value="normal">
          <ion-segment-button value="normal">
            Hauptinformationen
          </ion-segment-button>
          <ion-segment-button value="smart">
            iRun
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <div *ngIf="viewSelection == 'normal'">
      <ion-row>
        <ion-col>
          <ion-text>
            <h2>Titel</h2>
          </ion-text>
          <ion-text color="medium">
            <h3>{{exercise.title}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-text>
              <h2>Voraussetzungen</h2>
            </ion-text>
            <ion-chip color="medium">
              <ion-label>
                <ion-icon name="school">
                </ion-icon>
                <ion-label color="medium">{{exercise.requirement}}</ion-label>
              </ion-label>
            </ion-chip>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h2>Programmiersprache</h2>
          </ion-text>
          <ion-chip color="{{chipExerciseService.get(exercise.language, 'color')}}">
            <ion-label>
              <ion-icon name="{{chipExerciseService.get(exercise.language, 'icon')}}"></ion-icon>
              <ion-label>{{exercise.language}}</ion-label>
            </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="exercise.links.length !== 0">
        <ion-col>
          <ion-text>
            <h2>Links</h2>
          </ion-text>
          <ng-container *ngFor="let link of exercise.links; let i = index">
            <a *ngIf="exercise.links.length === 1; else link_list" [href]="link" target="_blank">{{link}}</a>
            <ng-template #link_list>
              <a *ngIf="link" [href]="link" target="_blank">{{link}}</a><span
              *ngIf="i+1 !== exercise.links.length">, </span>
            </ng-template>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="exercise.description">
        <ion-col>
          <ion-text>
            <h2>Beschreibung</h2>
          </ion-text>
          <ion-text color="medium">
            <h5>{{exercise.description}}</h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="viewSelection == 'smart'">
      <div *ngIf="runModels !== []">
        <ion-row class="card-title">
          <h1 class="ion-margin-horizontal">Rangliste</h1>
        </ion-row>
        <ion-row *ngFor="let runModel of runModels">
          <app-run [style]="'width: ' + getWidth(runModel.runtime) + '%' " [runModel]="runModel"></app-run>
        </ion-row>
        <ion-row class="card-title">
          <h1 class="ion-margin-horizontal">Anhänge</h1>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row class="card-title">
              <ion-col>
                <h2>Input und Output</h2>
                <ion-button (click)="download(exercise.textFile, 'text/plain', 'IO.txt')" expand="block">Herunterladen
                </ion-button>
              </ion-col>
              <ion-col *ngIf="exercise.textFile">
                <h2>Code Datei</h2>
                <ion-button (click)="download(exercise.data, exercise.type, exercise.name)" expand="block">
                  Herunterladen
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="card-title ion-padding-vertical">
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2>Lösung Aufladen</h2>
                <app-file-upload *ngIf="canUpload; else queue" [reset]="isResetting"
                                 [extension]="chipExerciseService.get(exercise.language, 'extension')"
                                 (fileUploadEmitter)="fileUploaded($event)"></app-file-upload>
                <ion-button (click)="send()" expand="block">Senden</ion-button>
                <ng-template #queue>
                  <ion-text color="medium">Eine andere Lösung wird zurzeit bearbeitet</ion-text>
                </ng-template>
              </ion-col>
              <ion-col *ngIf="exercise.textFile">
                <h2>Meldung</h2>
                <div *ngIf="!notification; else notification_exists">
                  <h3>Keine</h3>
                </div>
                <ng-template #notification_exists>
                  <ion-text [color]="notification.status=== 0? 'danger':'success'">
                    <h3>{{notification.title}}</h3>
                    <h5>{{notification.description}}</h5>
                  </ion-text>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
